<header>
    <div class=" areoi-strip areoi-element strip ">
      <div class="areoi-element container">
        <div class="row areoi-element">
          <div class="col areoi-element">
            <nav class="main-nav">
              <div class="container-fluid">
                <!-- Brand Name -->
                <a class="navbar-brand" href="/">
                  <img class='logo' src="/assets/logo-light.png" alt="Rare360 logo" />
                </a>

                <!-- Hamburger Menu for Mobile -->
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <i class="bi bi-list" style="font-size: 1.5rem;"></i>
                </button>

                <!-- Centered Navigation Links -->
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Who We Are</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Our Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Meet The Team</a>
                    </li>
                  </ul>
                </div>
                <!-- Get in Touch Button -->
                <div class="d-none d-lg-block">
                  <a href="#" class="btn btn-lg btn-white">Get in Touch</a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>