<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../scss/styles.scss"> <!-- Link to bundled CSS -->
</head>
<body>
    {{> partials/header}} <!-- Include header partial -->
    <div class="content">
content: 
        {{{body}}} <!-- Render content block -->
{{description}}
    </div>
    <script src="/dist/bundle.js"></script> <!-- Link to bundled JS -->
</body>
</html>

